Repository PetroPricesnearMe/petrol-prices-melbourne: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests

Update deploy workflow and sitemap
  .github/workflows/deploy-preview.yml
  public/sitemap-0.xml
Due: prettier --write

respectoourcountry
  next.config.ts
  src/app/layout.tsx
  tailwind.config.js
  tailwind.config.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

chore: add tailwind plugins and ensure .next ignored
  package-lock.json
  package.json
Due: prettier --write

usher
  next.config.ts
  src/app/layout.tsx
  tailwind.config.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Resolve merge conflicts in next.config.ts, tailwind.config.ts, and src/app/layout.tsx
  next.config.ts
  src/app/layout.tsx
  tailwind.config.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

chore: add tailwindcss toolchain and plugins for Vercel build (@tailwindcss/forms, typography, aspect-ratio)
  package-lock.json
  package.json
  postcss.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

ttrieed
  postcss.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: prettier --write

Delete package-lock.json
  package-lock.json
Due: prettier --write

rightthisisright
  src/components/seo/SEOHead.tsx
  src/components/seo/SEOImage.tsx
  src/lib/performance/core-web-vitals.ts
  src/lib/seo/advanced-metadata.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

yoklek
  IMPLEMENTATION_EXAMPLES.md
  SEO_PERFORMANCE_OPTIMIZATION_GUIDE.md
  SEO_QUICK_REFERENCE.md
  src/app/example-seo-page/page.tsx
  src/components/seo/SEOHead.tsx
  src/components/seo/SEOImage.tsx
  src/lib/seo/mobile-optimization.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

wwewilfisSEO
  IMPLEMENTATION_EXAMPLES.md
  SEO_PERFORMANCE_COMPLETE.md
  SEO_PERFORMANCE_OPTIMIZATION_GUIDE.md
  src/app/example-seo-page/page.tsx
  src/lib/performance/core-web-vitals.ts
  src/lib/seo/comprehensive-schemas.ts
  src/lib/seo/mobile-optimization.ts
  src/utils/testGooglePlaces.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

bodylanguage
  src/lib/seo/comprehensive-schemas.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Create npm-publish-github-packages.yml
  .github/workflows/npm-publish-github-packages.yml
Due: prettier --write

Create npm-publish.yml
  .github/workflows/npm-publish.yml
Due: prettier --write

Create super-linter.yml
  .github/workflows/super-linter.yml
Due: prettier --write

feat: add performance testing and verification tools
  DEBUGGING_FIXES_APPLIED.md
  DEBUGGING_TROUBLESHOOTING_GUIDE.md
  DEPLOYMENT_SUCCESS.md
  DEPLOY_NOW.md
  OPTIMIZATION_SUMMARY.md
  QUICK_TEST_REFERENCE.md
  TESTING_CHECKLIST.md
  TESTING_SUMMARY.md
  VERCEL_DEPLOYMENT_FIX.md
  VERIFICATION_TESTING_GUIDE.md
  package.json
  scripts/verify-performance.js
  src/app/layout.tsx
  src/components/accessibility/Modal.tsx
  src/components/atoms/Input/Input.tsx
  src/components/layout/Footer.tsx
  src/components/organisms/EnhancedFooter.tsx
  src/components/organisms/Footer/Footer.tsx
  src/components/organisms/Footer/ModernFooter.tsx
  src/components/organisms/Footer/ResponsiveFooter.tsx
  src/components/pages/PerformanceOptimizedLandingPage.tsx
  src/components/ui/input.tsx
  src/hooks/useMounted.ts
  vercel.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Create SECURITY.md
  SECURITY.md
Due: prettier --write

FORCE: commit all staged changes
  .eslintrc.json
  FIX_SUMMARY.md
  REFACTORING_SUMMARY.md
  __mocks__/framer-motion.js
  eslint-output.json
  jest.config.js
  next.config.ts
  package.json
  public/robots.txt
  public/sitemap-0.xml
  public/sitemap.xml
  src/app/directory/StationDirectoryClient.tsx
  src/app/directory/StationDirectoryWithMap.tsx
  src/app/fuel-price-trends/FuelTrendsClient.tsx
  src/app/hero-example/page.tsx
  src/app/search-test/SearchTestClient.tsx
  src/components/NorthernTradieCard/NorthernTradieCard.tsx
  src/components/NorthernTradieCard/__tests__/NorthernTradieCard.test.tsx
  src/components/atoms/Button/Button.test.tsx
  src/components/atoms/Button/Button.tsx
  src/components/common/ErrorBoundary/SpecializedBoundaries.tsx
  src/components/directory/InfiniteScrollDirectory.tsx
  src/components/examples/FluidLayoutExamples.tsx
  src/components/molecules/AdvancedSearchBar/__tests__/AdvancedSearchBar.test.tsx
  src/components/organisms/FilterBar/CategoryChips.tsx
  src/components/pages/EnhancedLandingPage.tsx
  src/components/pages/TestimonialsSection.tsx
  src/utils/performance.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

FORCE: add real commit
  next.config.ts
  public/sitemap-0.xml
  src/components/NorthernTradieCard/__tests__/NorthernTradieCard.test.tsx
  src/components/atoms/Button/Button.test.tsx
  src/components/molecules/AdvancedSearchBar/__tests__/AdvancedSearchBar.test.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

ci: add package-lock.json for CI builds
  .gitignore
  package-lock.json
Due: prettier --write

FORCE: add real commit
  STATION_LISTING_FIX_SUMMARY.md
  STATION_LISTING_FIX_VISUAL_GUIDE.md
  TYPESCRIPT_UPDATE_GUIDE.md
  package-lock.json
  package.json
  scripts/verify-typescript-version.js
  src/app/directory/StationDirectoryClient.tsx
  src/app/directory/StationDirectoryWithMap.tsx
  src/app/map/MapViewClient.tsx
  src/components/pages/PerformanceOptimizedLandingPage.tsx
  src/components/pages/PricingSection.tsx
  src/components/pages/TestimonialsSection.tsx
  src/components/ui/HeroSection.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

FORCE: add real commit
  REFACTORING_QUICK_START.md
  REFACTORING_SUMMARY.md
  RESPONSIVE_LAYOUT_SUMMARY.md
  docs/RESPONSIVE_LAYOUT_GUIDE.md
  src/app/api/cms/[collection]/[id]/route.ts
  src/app/api/cms/[collection]/route.ts
  src/app/api/cms/[collection]/slug/[slug]/route.ts
  src/app/api/revalidate/route.ts
  src/app/cms-example/[slug]/page.tsx
  src/app/cms-example/client/page.tsx
  src/app/cms-example/page.tsx
  src/app/directory/page-refactored-example.tsx
  src/components/cms/CMSContent.tsx
  src/components/cms/CMSErrorBoundary.tsx
  src/components/cms/CMSList.tsx
  src/components/layout/PageLayouts.tsx
  src/components/layout/ResponsiveGrid.tsx
  src/components/layout/ResponsiveLayoutExamples.tsx
  src/components/pages/LandingPage/RefactoredLandingPage.tsx
  src/components/pages/LandingPage/components/Badge.tsx
  src/components/pages/LandingPage/components/Button.tsx
  src/components/pages/LandingPage/components/Icon.tsx
  src/components/pages/LandingPage/components/Section.tsx
  src/components/pages/LandingPage/components/index.ts
  src/components/pages/LandingPage/constants.ts
  src/components/pages/LandingPage/data.ts
  src/components/pages/LandingPage/hooks.ts
  src/components/pages/LandingPage/index.ts
  src/components/pages/LandingPage/types.ts
  src/lib/cms/cache.ts
  src/lib/cms/config.ts
  src/lib/cms/error-handler.ts
  src/lib/cms/index.ts
  src/lib/cms/providers/airtable.ts
  src/lib/cms/providers/baserow.ts
  src/lib/cms/providers/sanity.ts
  src/lib/cms/types.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

FORCE: add real commit2
  CMS_IMPLEMENTATION_SUMMARY.md
  CMS_INTEGRATION_COMPLETE.md
  ENV_CONFIGURATION.md
  QUICK_START_CMS.md
  README_CMS_INTEGRATION.md
  USAGE_EXAMPLES.md
  src/components/cms/index.ts
  src/hooks/useCMS.ts
  src/lib/cms/cache.ts
  src/lib/cms/types.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

FORCE: add real commit23
  IMPLEMENTATION_SUMMARY.md
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/app/directory/page-standardized.tsx
  src/components/ui/COMPONENT_LIBRARY.md
  src/components/ui/primitives/Button.tsx
  src/components/ui/primitives/Card.tsx
  src/components/ui/primitives/Input.tsx
  src/components/ui/primitives/index.tsx
  src/lib/utils.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

FORCE: add real commit23
  COMPLETE_UI_DELIVERY_SUMMARY.md
  IMAGE_OPTIMIZATION_GUIDE.md
  MELBOURNE_MAP_INTEGRATION_COMPLETE.md
  MELBOURNE_MAP_INTEGRATION_GUIDE.md
  MELBOURNE_MAP_VISUAL_PROTOTYPE.md
  UI_COMPONENTS_COMPLETE_GUIDE.md
  scripts/optimize-melbourne-map.js
  src/app/about/page.tsx
  src/components/pages/LandingPage/MelbourneMapSection.tsx
  src/components/pages/LandingPage/components/Button.tsx
  src/components/pages/LandingPage/data.ts
  src/components/pages/PerformanceOptimizedLandingPage.tsx
  src/components/ui/modern/Button.tsx
  src/components/ui/modern/README.md
  src/lib/seo/meta-generator.ts
  src/types/component.ts
  src/utils/performance-monitor.ts
  tailwind.config.js
  🎨_UI_COMPONENTS_DELIVERED.md
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

FORCE: add real commit23
  package-lock.json
  package.json
Due: prettier --write

let all the truth get out
  API_INTEGRATION_GUIDE.md
  CONTRIBUTING.md
  PERFORMANCE_OPTIMIZATION_AUDIT.md
  PERFORMANCE_OPTIMIZATION_SUMMARY.md
  REFACTORING_SUMMARY.md
  kqkqqkld
  next.config.ts
  src/app/api-example/error.tsx
  src/app/api-example/loading.tsx
  src/app/api-example/page.tsx
  src/app/layout.tsx
  src/components/api/StationCard.tsx
  src/components/api/StationList.tsx
  src/components/api/StationListEmpty.tsx
  src/components/api/StationListError.tsx
  src/components/api/StationListLoading.tsx
  src/components/api/index.ts
  src/components/atoms/BackToTop/BackToTop.tsx
  src/components/atoms/BackToTop/index.ts
  src/components/atoms/LoadingSpinner/LoadingSpinner.tsx
  src/components/atoms/LoadingSpinner/index.ts
  src/components/atoms/ThemeToggle/ThemeToggle.tsx
  src/components/atoms/ThemeToggle/index.ts
  src/components/common/OptimizedImage.tsx
  src/lib/api/data-providers.ts
  src/lib/performance/core-web-vitals.ts
  src/lib/performance/image-optimization.ts
  src/lib/performance/index.ts
  src/lib/performance/lazy-loading.ts
  src/lib/utils/formatters.ts
  src/lib/utils/index.ts
  src/lib/utils/sanitizers.ts
  src/lib/utils/validators.ts
  tailwind.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

chore: remove accidental file (kqkqqkld)
  kqkqqkld
Due: none

update
  BUNDLE_OPTIMIZATION_SUMMARY.md
  INFINITE_SCROLL_IMPLEMENTATION.md
  NEXTJS_15_FRAMER_MOTION_11_AUDIT_REPORT.md
  PERFORMANCE_OPTIMIZATION_REPORT.md
  next.config.ts
  src/components/BlogPage.js
  src/components/FuelPriceTrendsPage.js
  src/components/HowPricingWorksPage.js
  src/components/NorthernTradieCard/NorthernTradieCard.tsx
  src/components/StationAmenitiesPage.js
  src/components/ViewToggle.tsx
  src/components/common/FluidGrid.tsx
  src/components/common/PaginatedGrid.tsx
  src/components/common/Pagination.tsx
  src/components/design/GlassmorphismHero.tsx
  src/components/organisms/FilterBar/CategoryChips.tsx
  src/components/organisms/Footer/ModernFooter.tsx
  src/components/pages/LandingPage/components/Badge.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

makesureitsupdated
  src/components/seo/SEOImage.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Fix: Remove conflicting Webpack optimization settings
  WEBPACK_OPTIMIZATION_FIX_SUMMARY.md
  next.config.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Changes made by Agent
  WEBPACK_OPTIMIZATION_FIX_SUMMARY.md
  next.config.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css})
  jest --bail --findRelatedTests: any of: *.{js,jsx,ts,tsx}
